* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-image:url(https://wallpaperaccess.com/full/6560700.jpg);
    background-size:cover ;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
      }

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #1877F2;
}

.card {
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1877F2;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #8F9196;
}
